<!DOCTYPE html>
<html>
<head>
    <title>Posture Check</title>
</head>
<body style="text-align:center; background:#0f172a; color:white;">

<h2>Posture Check</h2>

<video id="video" width="300" autoplay></video>
<br><br>
<button onclick="startCamera()">Start Camera</button>

<script>
function startCamera() {
    navigator.mediaDevices.getUserMedia({ video: true })
    .then(stream => {
        document.getElementById('video').srcObject = stream;
    })
    .catch(err => {
        alert("Camera not allowed");
    });
}
</script>

<br><br>
<a href="/plan">Back</a>

</body>
</html>
